article button{
	opacity: 80%;
	/*border-radius: 20px !important;
	border: solid 0.5em white !important;*/
	border-width: 0.5em !important;
	height: 18em;
	width: 18em;
}

#navbar{
	border-bottom: solid 0.3em white;
	background-color: #553b7d;
}

#footer{
	background-color: #553b7d;
	color: white;
	border-width: 0.3em !important; 
}