<!DOCTYPE html>
<html>
<head>
	<title>Display</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta NAME='Author' CONTENT='Renou Antoine'>
	<meta NAME='Language' CONTENT='fr'>
	<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/menu.css">
</head>
<body class="bg-dark">
	<div class="container-fluid p-0">

		<!-- NavBar -->
		<header>
			<nav class="navbar navbar-expand-md navbar-dark p-3" id="navbar">
				<a class="navbar-brand" href="../index.html">Home</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<ul class="collapse navbar-collapse align-items-start navbar-nav" id="navbarNavAltMarkup">
					<li class="nav-item">
						<a class="nav-link active" href="menu.html">Menu</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="#">Exemples</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Random</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">À propos</a>
					</li>
					<li class="nav-item ml-auto">
						<form class="form-inline">
							<input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
							<button class="btn btn-outline-light my-2 my-sm-0 ml-auto" type="submit">Rechercher</button>
						</form>
					</li>
				</ul>	

			</nav>
		</header>
		<!-- Titre -->
		<h1 class="text-center text-white mt-5 display-4">Display</h1>

		<div class="row p-4">
			<!-- Image -->
			<div class="col-12 col-md-6 d-flex justify-content-center">
				<img class="img-fluid img-thumbnail" src="../images/display_img.png">
			</div>

			<!-- Présentation -->
			<div class="col-12 col-md-6 d-flex align-items-center pt-5 pt-md-0">
				<p class="text-white">Bootstrap redéfini une partie des propriétés display accessiblent en CSS classique, ce qui permet de gérer l'affichage de différents éléments.<br/>
					<br/>
					Les attributs suivants permettent de donner un style spécifique à un élément :<br/>
					&emsp;- .d-none = élément invisible<br/>
					<br/>
					&emsp;- .d-inline = élément affiché en ligne<br/>
					&emsp;&emsp;- hauteur et largeur non modifiable<br/>
					&emsp;&emsp;- l'élément sera séparé en deux lorsqu'il dépasse la taille maximale d'une ligne<br/>
					<br/>
					&emsp;- .d-block = élément affiché en block (verticalement, un par ligne)<br/>
					&emsp;&emsp;- l'élement occupera toute la ligne si aucune largeur n'est spécifiée<br/>
					&emsp;&emsp;- l'élement passera à la ligne suivante losqu'il dépasse la taille maximale d'une ligne<br/>
					<br/>
					&emsp;- .d-inline-block = élément affiché en block et en ligne<br/>
					&emsp;&emsp;- l'élement passera à la ligne suivante losqu'il dépasse la taille maximale d'une ligne<br/>
					<br/>
					&emsp;- .d-table = élément affiché sous la forme d'un tableau<br/>
					<br/>
					&emsp;- .d-table-row = élément affiché sous la forme d'une ligne de tableau<br/>
					<br/>
					&emsp;- .d-table-cell = élément affiché sous la forme d'une cellule de tableau<br/>
					<br/>
					&emsp;- .d-flex = élément affiché sous la forme d'un container flexbox (cf Flex)<br/>
					<br/>
					&emsp;- .d-inline-flex = élément affiché sous la forme d'un container flexbox en ligne (cf Flex)<br/>
					<a class="btn btn-outline-light float-right" href="https://getbootstrap.com/docs/4.0/utilities/display/">Source</a>
				</p>

			</div>



		</div>

		<!-- Démonstration -->
		<div class="row justify-content-center">
			<h1 class="text-center text-white display-4 pt-0 pb-5">Démonstration</h1>
		</div>
		
		<div class="row mx-4">
			<!-- Code -->
			<div class="col-12 col-md-5">
				<div contenteditable="true" spellcheck="false" class="form-control ml-4 mb-4 bg-dark" style="width: 90%; height: 500px; overflow: auto;">

					<pre id="code" class="text-white">

					</pre>
				</div>
			</div>

			<div class="col-12 col-md-2 d-flex justify-content-center align-items-center mt-4">
				<button class="btn btn-outline-light" onclick="transfer()">Test Code</button>
			</div>	

			<!-- Visuel -->
			<div id="visuel" class="col-12 my-3 col-md-5 d-flex align-items-center">
				
			</div>

		</div>
		
		<!-- Aller plus loin -->
		<div class="row pt-4">

			<div class="col-12 d-flex justify-content-center mb-2">
				<h4 class="display-5 text-white">Aller plus loin </h4>:
			</div>

			<div class="col-12 d-flex justify-content-center mb-2">
				<a class="btn btn-outline-light mx-2" href="flex.html">Flex</a>
				<a class="btn btn-outline-light mx-2" href="responsive.html">Responsive</a>
				<a class="btn btn-outline-light mx-2" href="grid.html">Grid</a>
			</div>

			<div class="col-6 d-flex align-items-end">
				<button type="button" class="btn btn-outline-light ml-5">
					<i class="fa fa-chevron-left text-left"></i> 
				</button>
			</div>

			<div class="col-6 d-flex justify-content-end align-items-end">
				<button type="button" class="btn btn-outline-light mr-5">
					<i class="fa fa-chevron-right text-left"></i> 
				</button>
			</div>

		</div>

		<!-- Footer -->
		<div class="row mt-5 border-top p-4" id="footer">
			<div class="col-12 text-center">

				Antoine Renou - Source : <a class="btn btn-outline-light rounded border-white" href="https://getbootstrap.com/">Bootstrap</a>

			</div>
		</div>

	</div>

	<!--Script-->
	<script type="text/javascript" src="../bootstrap/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/popper.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/font_awesome.js"></script>
	<script type="text/javascript" src="../js/demonstration.js"></script>
	<script type="text/javascript">fill('../html_exemples/display_exemple.html');</script>
	<script type="text/javascript">transfer();</script>
</body>
</html>