<!DOCTYPE html>
<html>
<head>
	<title>Responsive</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta NAME='Author' CONTENT='Renou Antoine'>
	<meta NAME='Language' CONTENT='fr'>
	<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/menu.css">
</head>
<body class="bg-dark">
	<div class="container-fluid p-0">

		<!-- NavBar -->
		<header>
			<nav class="navbar navbar-expand-md navbar-dark p-3" id="navbar">
				<a class="navbar-brand" href="../index.html">Home</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<ul class="collapse navbar-collapse align-items-start navbar-nav" id="navbarNavAltMarkup">
					<li class="nav-item">
						<a class="nav-link active" href="menu.html">Menu</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="#">Exemples</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Random</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">À propos</a>
					</li>
					<li class="nav-item ml-auto">
						<form class="form-inline">
							<input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
							<button class="btn btn-outline-light my-2 my-sm-0 ml-auto" type="submit">Rechercher</button>
						</form>
					</li>
				</ul>	

			</nav>
		</header>
		<!-- Titre -->
		<h1 class="text-center text-white mt-5 display-4">Responsive Web Design</h1>

		<div class="row p-4">
			<!-- Image -->
			<div class="col-12 col-md-6 d-flex justify-content-center">
				<img class="img-fluid img-thumbnail" src="../images/responsive_img.png">
			</div>

			<!-- Présentation -->
			<div class="col-12 col-md-6 d-flex align-items-center pt-5 pt-md-0">
				<p class="text-white">Une des principale valeur de Bootstrap est d'être un framework responsive,
					c'est à dire que n'importe lequels de ses composants peut s'adapter à différentes taille d'écrans.<br/>
					<br/>
					Bootstrap s'adapte à 5 tailles par défauts :<br/>
					&emsp;- Extra Small, largeur d'écran < 576px - pas de préfixe<br/>
					&emsp;- Small, largeur d'écran >= 576px - préfixe .sm<br/>
					&emsp;- Medium, largeur d'écran >= 768px - préfixe .md<br/>
					&emsp;- Large, largeur d'écran >= 992px - préfixe .lg<br/>
					&emsp;- Extra Large, largeur d'écran >= 1200px - préfixe .xl<br/>
					<br/>
					Ces différents préfixes peuvent s'utiliser sur certains des attributs Bootstrap <br/>
					ce qui modifiera l'affichage d'un composant en fonction de la largeur de l'écran de l'utilisateur.<br/>
					<br/>
					Exemples : <br/>
					&emsp;- les colonnes (col-md-3, col-sm-12, ...) <br/>
					&emsp;- l'affichage où non d'un block (d-sm-none, d-md-block, ...)<br/>
					&emsp;- la taille d'un container (container-md, container-sm, ...)<br/>
					&emsp;- la position d'un élément (float-sm-left, float-xl-right, ...)<br/>
					&emsp;- le margin et padding (m-md-5, p-xl-4, etc ...)<br/>
					<br/>
					Et sans doute bien d'autres !<a class="btn btn-outline-light float-right" href="https://getbootstrap.com/docs/4.4/layout/overview/#responsive-breakpoints">Source</a>
				</p>

			</div>



		</div>

		<!-- Démonstration -->
		<div class="row justify-content-center">
			<h1 class="text-center text-white display-4 pt-0 pb-5">Démonstration</h1>
		</div>
		
		<div class="row mx-4">
			<!-- Code -->
			<div class="col-12 col-md-5">
				<div contenteditable="true" spellcheck="false" class="form-control ml-4 mb-4 bg-dark" style="width: 90%; height: 500px; overflow: auto;">

					<pre id="code" class="text-white">

					</pre>
				</div>
			</div>

			<div class="col-12 col-md-2 d-flex justify-content-center align-items-center mt-4">
				<button class="btn btn-outline-light" onclick="transfer()">Test Code</button>
			</div>	

			<!-- Visuel -->
			<div id="visuel" class="col-12 my-3 col-md-5 d-flex align-items-center">
				
			</div>

		</div>
		
		<!-- Aller plus loin -->
		<div class="row pt-4">

			<div class="col-12 d-flex justify-content-center mb-2">
				<h4 class="display-5 text-white">Aller plus loin </h4>:
			</div>

			<div class="col-12 d-flex justify-content-center mb-2">
				<a class="btn btn-outline-light mx-2" href="grid.html">Grid</a>
				<a class="btn btn-outline-light mx-2" href="spacing.html">Spacing</a>
				<a class="btn btn-outline-light mx-2" href="display.html">Display</a>
			</div>

			<div class="col-6 d-flex align-items-end">
				<button type="button" class="btn btn-outline-light ml-5">
					<i class="fa fa-chevron-left text-left"></i> 
				</button>
			</div>

			<div class="col-6 d-flex justify-content-end align-items-end">
				<button type="button" class="btn btn-outline-light mr-5">
					<i class="fa fa-chevron-right text-left"></i> 
				</button>
			</div>

		</div>

		<!-- Footer -->
		<div class="row mt-5 border-top p-4" id="footer">
			<div class="col-12 text-center">

				Antoine Renou - Source : <a class="btn btn-outline-light rounded border-white" href="https://getbootstrap.com/">Bootstrap</a>

			</div>
		</div>

	</div>

	<!--Script-->
	<script type="text/javascript" src="../bootstrap/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/popper.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/font_awesome.js"></script>
	<script type="text/javascript" src="../js/demonstration.js"></script>
	<script type="text/javascript">fill('../html_exemples/responsive_exemple.html');</script>
	<script type="text/javascript">transfer();</script>
</body>
</html>